.UserProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vmin 3vmin 10vmin 3vmin;
    width: 50vmin;
    height: 60vmin;
    background-color: var(--background-3);
    padding: 1vmin;
}