.UserProfileForm {
    border: 0;
    padding: -3vmin;
    margin: 0;
    height: min-content;
    align-self: center;
    align-items: center;
}

.UserProfileForm > textarea {
    width: 40vmin;
    height: 22vmin;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.UserProfileForm > * {
    margin: 0.75vmin;
}