.Header {
    background-color: var(--background-2);
    height: 7rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}

.Header > * {
    margin: 1.5rem 1rem 1.5rem 1rem;
    align-self: center;
}