:root {
  --accent-1: #5d4e3d;
  --accent-2: #96876f;
  --accent-3: #84330b;
  --accent-4: #5a2409;
  --text-dark: #0c0704;
  --text-light: #aea799;
  --text-light-aux: #e7dece;
  --background-1: #11100f;
  --background-2: #2c2a27;
  --background-3: #47423b;
}

@font-face {
  font-family: Rye;
  src: url(/public/fonts/Rye/Rye-Regular.ttf);
}

#root {
  margin: 0;
}

* {
  font-family: Rye, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  margin: 0;
  display: grid;
  width: 100%;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--accent-1);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--accent-1);
}

button {
  margin: 0.25vmin;
  font-size: 1.25vmin;
  color: var(--accent-2);
  background-color: var(--background-1);
  border-top: 0.1rem solid var(--accent-2);
  border-left: 0.1rem solid var(--accent-1);
  border-right: 0.1rem solid var(--accent-2);
  border-bottom: 0.1rem solid var(--accent-1);
  cursor: pointer;
  padding: 0.25vmin;
}

button:hover {
  box-shadow: 0 0 100px 100px rgba(231, 222, 206, 0.1) inset;
  transform: scale(1.05);
}

.button-inv {
  border-top: 0.1rem solid var(--accent-1);
  border-left: 0.1rem solid var(--accent-2);
  border-right: 0.1rem solid var(--accent-1);
  border-bottom: 0.1rem solid var(--accent-2);
}

.list-container {
  margin: 0.5rem;
  background-color: var(--background-3);
  border-top: 0.1rem solid var(--accent-1);
  border-left: 0.1rem solid var(--accent-2);
  border-right: 0.1rem solid var(--accent-1);
  border-bottom: 0.1rem solid var(--accent-2);
  padding: 0.25rem;
}

.list-aside {
  margin: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--background-2);
  border-top: 0.1rem solid var(--accent-2);
  border-left: 0.1rem solid var(--accent-1);
  border-right: 0.1rem solid var(--accent-2);
  border-bottom: 0.1rem solid var(--accent-1);
  padding: 0.25rem;
}

.Logout {
  background-color: var(--accent-3);
  color: var(--text-dark);
}

.Logout:hover {
  box-shadow: 0 0 100px 100px rgba(97, 19, 9, 0.63) inset;
  transform: scale(1.05);
}

.button-red-dark {
  border-top: 0.1rem solid var(--accent-4);
  border-left: 0.1rem solid var(--accent-3);
  border-right: 0.1rem solid var(--accent-4);
  border-bottom: 0.1rem solid var(--accent-3);
  color: var(--accent-3);
}

.button-red-dark:hover {
  box-shadow: 0 0 100px 100px rgba(136, 19, 3, 0.364) inset;
  transform: scale(1.1);
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--accent-4);
}

input:focus {
  border-top: 0.2rem solid var(--accent-4);
  border-left: 0.2rem solid var(--accent-3);
  border-right: 0.2rem solid var(--accent-4);
  border-bottom: 0.2rem solid var(--accent-3);
}

.form-container {
  margin: 0.5rem;
  background-color: var(--background-3);
  border-top: 0.1rem solid var(--accent-1);
  border-left: 0.1rem solid var(--accent-2);
  border-right: 0.1rem solid var(--accent-1);
  border-bottom: 0.1rem solid var(--accent-2);
  padding: 0.25rem;
  height: min-content;
  width: fit-content;
}

form {
  padding: 1vmin;
  margin: 0.5rem;
  background-color: var(--background-2);
  border-top: 0.1rem solid var(--accent-2);
  border-left: 0.1rem solid var(--accent-1);
  border-right: 0.1rem solid var(--accent-2);
  border-bottom: 0.1rem solid var(--accent-1);
  display: flexbox;
}

form > * {
  margin: 0.5rem;
}