:root {
  --accent-1: #5d4e3d;
  --accent-2: #96876f;
  --accent-3: #84330b;
  --accent-4: #5a2409;
  --accent-5: #280f03;
  --text-dark: #0c0704;
  --text-light: #aea799;
  --text-light-aux: #e7dece;
  --background-1: #11100f;
  --background-2: #2c2a27;
  --background-3: #47423b;
}

@font-face {
  font-family: Rye;
  src: local('Rye-Regular'),
    url("./fonts/Rye-Regular.ttf") format('truetype');
}

#root {
  margin: 0;
  text-align: center;
}

* {
  font-family: Rye, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  scrollbar-color: var(--accent-3) var(--accent-4);
}

body {
  margin: 0;
  display: grid;
  width: 100%;
}

/* Webkit Scrollbar */

::-webkit-scrollbar {
  background-color: var(--accent-3);
  background-image: linear-gradient(180deg, var(--accent-4) 0%, var(--accent-5) 99%);
  width: 1.25vmin;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-3);
  border: 0.1vmin solid var(--text-dark);
  border-radius: 13%;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 100px 100px rgba(49, 2, 2, 0.364) inset;
}

/* General Lists */

.list-container {
  margin: 0.5rem;
  background-color: var(--background-1);
  border: 0.1rem inset var(--accent-2);
  padding: 0.25rem;
}

.list-aside {
  margin: 1.5vmin 1.5vmin 1.5vmin 1.5vmin;
  background-color: var(--background-2);
  border: 0.1rem outset var(--accent-2);
  padding: 0.25rem;
  overflow-y: scroll;
}

.chat-page {
  margin: 0;
  height: 90vh;
  width: 100vw;
  background-color: var(--background-1);
}

/* General Forms */

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--accent-4);
}

.form-container {
  margin: 0.5rem;
  background-color: var(--background-3);
  border: 0.1rem inset var(--accent-2);
  padding: 0.25rem;
  height: min-content;
  width: fit-content;
}

form {
  padding: 1vmin;
  margin: 0.5rem;
  background-color: var(--background-2);
  border: 0.1rem outset var(--accent-2);
  display: flexbox;
}

form > * {
  margin: 0.5vmin;
}

form > *:focus {
  outline: 0.2vmin solid var(--accent-3);
}

.input-textarea {
  margin: 0;
  resize: none;
  background-color: var(--background-1);
  border: 0.1rem inset var(--accent-2);
  margin: 0 0 1vmin 0;
  color: var(--text-light-aux);
}

.input-textarea:hover {
  transform: scale(1.005);
}

/* General Button */

button {
  margin: 0.25vmin;
  font-size: 1.25vmin;
  color: var(--accent-2);
  background-color: var(--background-1);
  border: 0.1rem outset var(--accent-2);
  cursor: pointer;
  padding: 0.25vmin;
}

button:hover {
  box-shadow: 0 0 100px 100px rgba(231, 222, 206, 0.1) inset;
  transform: scale(1.05);
}

/* General Button (Inverted) */

.button-inv {
  border: 0.1rem inset var(--accent-2);
}

/* Delete Button */

.delete-active {
  align-self: center;
  border: 0.1rem inset var(--accent-3);
  color: var(--accent-3);
  box-shadow: 0 0 100px 100px rgba(136, 19, 3, 0.364) inset;
  font-size: 1.5vmin;
  margin-top: 1.5vmin;
}

.delete-inactive {
  align-self: center;
  border: 0.1rem outset var(--accent-3);
  color: var(--accent-3);
  font-size: 1.5vmin;
  margin-top: 1.5vmin;
}

.delete-inactive:hover {
  box-shadow: 0 0 100px 100px rgba(136, 19, 3, 0.364) inset;
  transform: scale(1.05);
}

.delete-active:hover {
  box-shadow: 0 0 100px 100px rgba(49, 2, 2, 0.364) inset;
  transform: scale(1.05);
}

/* Dark Red Button */

.button-red-dark {
  border: 0.1rem outset var(--accent-3);
  color: var(--accent-3);
}

.button-red-dark:hover {
  box-shadow: 0 0 100px 100px rgba(136, 19, 3, 0.364) inset;
  transform: scale(1.1);
}

/* Collapse Toggle Button */

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid var(--accent-1);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--accent-1);
}