.UserProfile {
    color: var(--text-light-aux);
}

span {
    color: var(--text-light);
}

#user-about-container{
    width: 45vmin;
}

#user-about-p {
    width: 42vmin;
    margin: 0;
    margin-top: 0.5vmin;
    max-height: 22vmin;
    height:fit-content;
    scroll-behavior: smooth;
    overflow-y: auto;
    white-space: pre-line;
}